<p>test works! {{ name }}</p>
<p>{{ 2+2 }}</p>
<p>{{ "Welcome " + name }}</p>
<p>{{ name.length }}</p>
<p>{{ name.toUpperCase() }}</p>
<p>{{ greetname() }}</p>

<span>testing</span>

<h2>Property Binding</h2>
<input type="text" [id]="myId" value="Kohli" >
<input type="text" [disabled]="isDisabled" value="Kohli" >

<h2 class="text-success">Class Binding with normal html class</h2>
<h2 [class]="successClass">Class Binding with class binding</h2>
<h2 [class.text-danger]="hasError">Class Binding with single class conditiional boolean</h2>
<h2 [ngClass]="messageClasses">Class Binding with multiple class conditiional boolean</h2>

<h2 [style.color]="'orange'">Style Binding</h2>
<h2 [style.color]="hasError ? 'red' : 'green'">Style Binding with condition</h2>
<h2 [style.color]="highlightColor">Style Binding with assigned variable</h2>
<h2 [ngStyle]="titleStyles">Style Binding with multiple styles</h2>

<button (click)="onClick($event)">Event Binding</button>
<button (click)="greeting = 'Welcome WebDiver'">Event Binding with assigned value from the event</button>
{{greeting}} {{info}}
<br>
<input type="text" #myInput placeholder="template referral">
<button (click)="logMessage(myInput.value)">Log value (Template Referral)</button>
<button (click)="logMessage(myInput)">Log (Template Referral)</button>

<h2>Two way data binding</h2>
<input type="text" [(ngModel)]="twowayBinding">
{{twowayBinding}}

<h2 *ngIf="true">ngIf directive with direct boolean value</h2>
<h2 *ngIf="displayName">ngIf directive with assigned variable</h2>
<h2 *ngIf="displayNameWithElse; else elseBlock">ngIf directive with if statement</h2>

<ng-template #elseBlock>
    <h2>ngIf directive with elseBlock</h2>
</ng-template>

<div *ngIf="displayName2; then thenBlock2; else elseBlock2">

</div>

<ng-template #thenBlock2>
    <h2>ngIf directive with ngtemplate thenBlock</h2>
</ng-template>

<ng-template #elseBlock2>
    <h2>ngIf directive with ngtemplate elseBlock</h2>
</ng-template>

<h2>Switch Directive</h2>
<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">Picked RED</div>
    <div *ngSwitchCase="'blue'">Picked BLUE</div>
    <div *ngSwitchCase="'green'">Picked GREEN</div>
    <div *ngSwitchDefault>Pick again</div>
</div>

<h2>ngFor</h2>
<div *ngFor="let color of colors">
    <p>{{ color }}</p>
</div>
<h4>With Index</h4>
<div *ngFor="let color of colors; index as i">
    <p>{{i}}: {{ color }}</p>
</div>
<h4>With mentioning first element</h4>
<div *ngFor="let color of colors; first as f">
    <p>{{f}}: {{ color }}</p>
</div>
<h4>With mentioning last element</h4>
<div *ngFor="let color of colors; last as l">
    <p>{{l}}: {{ color }}</p>
</div>
<h4>With mentioning odd element</h4>
<div *ngFor="let color of colors; odd as o">
    <p>{{o}}: {{ color }}</p>
</div>
<h4>With mentioning even element</h4>
<div *ngFor="let color of colors; even as e">
    <p>{{e}}: {{ color }}</p>
</div>

<h2>Component Interaction</h2>
<p><strong>Test Component</strong> - {{dataFromParent}}</p>

<button (click)="fireEvent()">Fire the data from child to parent</button>